<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('_partials/_header') %>
  </head>
  <body>
    <%- include('external/navigation') %>
    <div class="container">
			<div class="tab-content">
				<%- include('_partials/access/_inicio') %>
				<%- include('_partials/access/_funcionalidad') %>
				<%- include('_partials/access/_contacto') %>
			</div>
		</div>
		<%- include('_partials/access/_footer') %>
  </body>
</html>
