<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>DogeMate</title>
        <%- include('../_partials/_header') %>
        <%- include('../_partials/access/_footer') %>
    </head>
    <body>
        <%- include('navigation') %>
        <ng-view></ng-view>

        <!-- DogeMate Especialista Login -->
        <%- include('login') %>

        <!-- DogeMate Especialista Registro -->
        <%- include('register') %>

        <script type="text/javascript" src="/js/access_controller.js"></script>
    </body>
</html>